

<header class="header">
    <div class="container">
    <div class="box">
      <nav class="">
    
        <ul class="nav-list">
          <li class="">
            <a href="#works"  class="nav-list-item">How It Works</a>
          </li>
          <li class="">
            <a href="#fruits" class="nav-list-item">Fruits</a>
          </li>
          <li class="">
            <a href="#contacts" class="nav-list-item">Contacts</a>
          </li>
        </ul>
    </nav>
</div>
<div class="logo">
    <svg class="" width="16" height="16" viewBox="0 0 16 16">
        <use href="./images/header-icons.svg#icon-logo-fruits"> </use>
      </svg>
        <p class="logo-name">FRESH HARVEST BOX</p>
    </div>

  
    <div>
        <svg class="" width="16" height="16" viewBox="0 0 16 16">
            <use href="./images/header-icons.svg#icon-cart"> </use>
          </svg>
    </div>
      
        
    </div>
</div>
  </header>
